<div class="row">
  <div class="small-12 large-12 column">
    {{#each tweets}}
      <div class="tweet small-12 large-4 column">
        <div class="panel">
          <img src="{{this.profile_image_url}}"/>
          <h4 class="subheader">{{this.screen_name}}</h4>
          <h6>{{this.user_name}}</h6>
          <p>{{this.text}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>