<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">TweetBoard</a></h1>
        </li>
      </ul>
      <ul class="right">
        <li class="has-form">
          <% if user_signed_in? %>
            <a class="button" href="/users/sign_out">Logout</a>
          <% else %>
            <% if !current_page?(root_path) %>
              <a class="button" href="/">Back</a>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>