<div class="row">
  <div class="small-12 large-12 columns">
    <% if notice %>
      <div data-alert class="alert-box radius">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <% if alert %>
      <div data-alert class="alert-box radius">
        <%= alert %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
</div>