<div id="home-view">
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" id="user-name" placeholder="Twitter Handle">
        </div>
        <div class="small-2 columns">
          <a id="add-user" href="#" class="button prefix">Add</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="added-users" class="large-12 small-12 columns">
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns spaced">
      <a id="get-tweets" href="#" class="button-bright">Get Tweets</a>
      <h5 class="subheader">v0.1 - Gets last 3 tweets of each user</h5>
      <span class="loading"><i class="icon-refresh"></i></span>
    </div>
  </div>
</div>
<div id="tweet-view" class="row">
</div>
