<div id="login-view" class="row">
  <div class="small-12 large-4 column">
    <h2>Hello!</h2>
    <div class="sign-in">
      <%= render "devise/sessions/form" %>
    </div>
    <div class="sign-up">
      <%= render "devise/registrations/form" %>
    </div>
    <h2><a id="show-sign-in">Sign In</a></h2>
    <h2><a id="show-sign-up">Sign Up</a></h2>
  </div>
  <div class="large-2 column divider"></div>
  <div class="small-12 large-6 column">
    <%= render "shared/instructions" %>
  </div>
</div>