ul.right {
  li.has-form {
    padding-right: 20px;
  }
}

span.label {
  margin-bottom: 10px;
  background-color: #888;
}

.offer-container {
  border: 1px solid black;
  padding: 8px;
  margin: 5px auto;
}