ul.right {
  li.has-form {
    padding-right: 20px;
  }
}

span.label {
  margin-right: 5px;
}

.spaced {
  margin: 20px 0px;
}

#add-user {
  height: 2.0em;
}

.tweet {
  p {
    font-size: 0.8em;
  }
  img {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}
