.divider {
  height: 380px;
  border-right: 1px dashed #ccc;
}

.instructions {
  background-color: #E7FBE7;
  padding: 15px;
  height: 380px;
  h4, p {
    color: #2c3e50;
  }
  .header {
    hr {
      border: 1px solid #2c3e50;
      margin: 2px;
    }
  }
  .body {
    p {
      font-style: italic;
      font-size: 0.9em;
    }
    h4 {
      margin: 5px auto;
    }
    i {
      margin-right: 10px;
    }
  }
}